USE [Gimnasio]
GO
/****** Object:  Table [dbo].[Clases]    Script Date: 11/6/2025 19:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[Id_Clase] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Clase] [varchar](50) NOT NULL,
	[Cantidad_Inscriptos] [int] NOT NULL,
	[CuotaMensual] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Clases] PRIMARY KEY CLUSTERED 
(
	[Id_Clase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Clase]    Script Date: 11/6/2025 19:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Clase](
	[Id_Detalle_Clases] [int] IDENTITY(1,1) NOT NULL,
	[Dia] [varchar](50) NOT NULL,
	[Horario_Inicio] [time](0) NOT NULL,
	[Horario_Fin] [time](0) NOT NULL,
	[ID_Profesor] [int] NULL,
	[ID_Clase] [int] NULL,
 CONSTRAINT [PK_Detalle_Clase] PRIMARY KEY CLUSTERED 
(
	[Id_Detalle_Clases] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscriptos]    Script Date: 11/6/2025 19:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscriptos](
	[ID_Inscripto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[ID_Clase] [int] NULL,
	[DNI] [int] NOT NULL,
 CONSTRAINT [PK_Inscriptos] PRIMARY KEY CLUSTERED 
(
	[ID_Inscripto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 11/6/2025 19:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[ID_Profesor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Sueldo] [int] NOT NULL,
	[ID_Clase] [int] NULL,
	[DNI] [int] NOT NULL,
 CONSTRAINT [PK_Profes] PRIMARY KEY CLUSTERED 
(
	[ID_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clases] ON 

INSERT [dbo].[Clases] ([Id_Clase], [Nombre_Clase], [Cantidad_Inscriptos], [CuotaMensual]) VALUES (1, N'Gimnasio', 0, N'30000')
INSERT [dbo].[Clases] ([Id_Clase], [Nombre_Clase], [Cantidad_Inscriptos], [CuotaMensual]) VALUES (2, N'Spinning', 0, N'20000')
INSERT [dbo].[Clases] ([Id_Clase], [Nombre_Clase], [Cantidad_Inscriptos], [CuotaMensual]) VALUES (3, N'Funcional', 0, N'35000')
SET IDENTITY_INSERT [dbo].[Clases] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Clase] ON 

INSERT [dbo].[Detalle_Clase] ([Id_Detalle_Clases], [Dia], [Horario_Inicio], [Horario_Fin], [ID_Profesor], [ID_Clase]) VALUES (1, N'Lunes', CAST(N'07:00:00' AS Time), CAST(N'13:00:00' AS Time), 1, 1)
INSERT [dbo].[Detalle_Clase] ([Id_Detalle_Clases], [Dia], [Horario_Inicio], [Horario_Fin], [ID_Profesor], [ID_Clase]) VALUES (2, N'Martes', CAST(N'07:00:00' AS Time), CAST(N'13:00:00' AS Time), 1, 1)
INSERT [dbo].[Detalle_Clase] ([Id_Detalle_Clases], [Dia], [Horario_Inicio], [Horario_Fin], [ID_Profesor], [ID_Clase]) VALUES (3, N'Miercoles', CAST(N'07:00:00' AS Time), CAST(N'13:00:00' AS Time), 1, 1)
SET IDENTITY_INSERT [dbo].[Detalle_Clase] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscriptos] ON 

INSERT [dbo].[Inscriptos] ([ID_Inscripto], [Nombre], [Apellido], [ID_Clase], [DNI]) VALUES (1, N'Mateo', N'Fernandez', NULL, 40250109)
INSERT [dbo].[Inscriptos] ([ID_Inscripto], [Nombre], [Apellido], [ID_Clase], [DNI]) VALUES (2, N'Camila', N'Rodriguez', NULL, 39248294)
INSERT [dbo].[Inscriptos] ([ID_Inscripto], [Nombre], [Apellido], [ID_Clase], [DNI]) VALUES (3, N'Lautaro', N'Gomez', NULL, 31535393)
SET IDENTITY_INSERT [dbo].[Inscriptos] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesores] ON 

INSERT [dbo].[Profesores] ([ID_Profesor], [Nombre], [Apellido], [Sueldo], [ID_Clase], [DNI]) VALUES (1, N'Agustina', N'Rodriguez', 300000, NULL, 38091934)
INSERT [dbo].[Profesores] ([ID_Profesor], [Nombre], [Apellido], [Sueldo], [ID_Clase], [DNI]) VALUES (2, N'Antonio', N'Fernandez', 300000, NULL, 41242002)
SET IDENTITY_INSERT [dbo].[Profesores] OFF
GO
ALTER TABLE [dbo].[Detalle_Clase]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Clase_Clases] FOREIGN KEY([ID_Clase])
REFERENCES [dbo].[Clases] ([Id_Clase])
GO
ALTER TABLE [dbo].[Detalle_Clase] CHECK CONSTRAINT [FK_Detalle_Clase_Clases]
GO
ALTER TABLE [dbo].[Detalle_Clase]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Clase_Profesores] FOREIGN KEY([ID_Profesor])
REFERENCES [dbo].[Profesores] ([ID_Profesor])
GO
ALTER TABLE [dbo].[Detalle_Clase] CHECK CONSTRAINT [FK_Detalle_Clase_Profesores]
GO
ALTER TABLE [dbo].[Inscriptos]  WITH CHECK ADD  CONSTRAINT [FK_Inscriptos_Clases] FOREIGN KEY([ID_Clase])
REFERENCES [dbo].[Clases] ([Id_Clase])
GO
ALTER TABLE [dbo].[Inscriptos] CHECK CONSTRAINT [FK_Inscriptos_Clases]
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD  CONSTRAINT [FK_Profes_Clases] FOREIGN KEY([ID_Clase])
REFERENCES [dbo].[Clases] ([Id_Clase])
GO
ALTER TABLE [dbo].[Profesores] CHECK CONSTRAINT [FK_Profes_Clases]
GO
