<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gimnasio" connectionString="Data Source=DESKTOP-LHBB1SV\SQLEXPRESS;Initial Catalog=GimnasioDB;Integrated Security=True;" />
    </connectionStrings>
</configuration>